.footer{
    background-image:url("../../../images/FooterImage.png");
    background-position:center;
    background-size: cover;
    height: 40vh;
    color:white;
    

}

.desc{
    width:40vw;
    margin-left:900px;
    padding-top:100px;
    
}