

.error{
    background-image: url("../../../images/final.jpg");
    background-color: none;
    background-size: cover;
    background-repeat: no-repeat;

}

p{
    color:white;
    text-align:center;
    margin-top: 300px;
    
    font-family: 'Bangers', cursive;

}

.main-heading{
    color:GREEN;
    text-align:center;
    font-family: 'Bangers', cursive;
    font-size:2.5rem;
    margin-top:150px;
}