

.error{
    background-image: url("../../../images/final.jpg");
    background-size:cover;
    height: 100vh;
    width: 100vw;
    

}

p{
    color:white;
    text-align:center;
    
    
    

}

.main-heading{
    color:GREEN;
    text-align:center;
    
    font-size:2.5rem;
  
}