.main-carousel{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:sandybrown;
    position: relative;
}

.main-carousel > h3 {
    position: absolute;
    top: 1%;
    left: 44%;
    font-family: 'Pangolin',cursive;
    color: floralwhite;
}

.carousel-container{
    height: 500px;
    width: 800px;
    box-shadow: 1px 1px 30px purple;
    margin-top: 1rem;
}

.carousel-img{
    position: relative !important;
    filter: blur(1.5px);

}

.carousel-text{
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.carousel-caption{
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex !important;
    justify-content: center;
    align-items: center;
    z-index: 0;
}



