.filter-form{
    padding: 1rem;
    padding-left: 1.2rem;

    ::placeholder{
        color: floralwhite;
    }
}

.filter-form form{
    display: flex;
    padding-top:10px;


    .input{
        flex: 3;
        margin-right: 10px;

        input,select{
            padding:5px 10px;
            border-radius: 4px;
            background:none;
            border: 1px solid #a7d129;
            color: floralwhite;
            &:focus{
                color: #a7d129;
            }
        }

    }

    .status-select,.gender-select{
        width: 100%;
        outline: #a7d129;
        option{
            background-color: gray;
            color: floralwhite;
        }
    }

    .submit-btn{
        flex: 3;

        button{
            width: 100%;
            text-align: center;
            padding: 5px;
            color: white;
            background-color: #a7d129;
            border-radius: 5px;
            border: none;
            transition:background-color 500ms;
            
            &:hover{
                background-color:grey;
                // transition-duration: 500ms;
            }
        }
    }

    .delete-filters{
        flex: 1;
        div{
            padding: 5px;
            text-align: center;
            background-color:grey;
            width: 40px;
            margin: 0 auto;
            border-radius: 6px;

            &:hover{
                background-color:#6e6e6e;
                transition:background-color 500ms;
            }
        }

        span{
            color: floralwhite;
            font-size: 17px;
        }
    }

}

